.comment_text{
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 10px;
}

.comment_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  overflow-y: auto;
  form {
    flex-direction: column;
    padding: 1rem;
    display: flex;
    width: 100%;
    gap: 10px;
    textarea {
      width: 60%;
      padding: 10px;
      border: 1.3px solid black;
      outline: 0;
      border-radius: 5px;
      border: 1.5px solid blueviolet;
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2.4px rgba(0, 123, 255, 0.25);
      }
    }
    button {
      width: 20%;
      padding: 12px;
      cursor: pointer;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: blueviolet;
      color: whitesmoke;
      font-weight: 700;
      transition: all 0.5s;
      &:hover{
        background-color: crimson;

      }
    }
  }
}

.task_diaplay {
  width: 100%;
  .all_task_show {
    width: 63%;
    margin: 1rem;
    padding: 6px;
    border-radius: 5px;
    background-color: #ddd;
  }
}

@media screen and (max-width: 768px) {
  .comment_text{
    text-align: center;
  }
  .comment_container {
    form {
      width: 100%;
      textarea {
        width: 95%;
        margin: auto;
        padding: 10px;
      }
      button {
        margin: auto;
        width: 95%;
      }
    }
  }
  .task_diaplay {
    .all_task_show {
      width: 85%;
    }
  }
}
