.contact_container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 10vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #15172b;
    box-shadow: 0 0 10px rgba(189, 188, 188, 0.1);
  }
  
  .contact_container h2 {
    text-align: center;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    > label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
    }
  }
  
  .form-group input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .form-group span {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
  }
  
  .form-group span a {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-group span a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {
    .contact_container {
      max-width: 90%; /* Adjusts the maximum width of the container for smaller screens */
    }
  }
  